.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.env

data/raw/*
data/processed/*
data/tokenized/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/tokenized/.gitkeep

checkpoints/*
!checkpoints/.gitkeep
logs/*
!logs/.gitkeep
generated/*
!generated/.gitkeep
